<%- include ('partials/header.ejs') %>
    <h1>Bem-vindo a página de Clientes</h1>

    <h3>Lista de Clientes:</h3>
    <hr>

    <table class="table table-bordered table-hover">
        <thead class="table-dark">
          <tr> 
            <th>Nome:</th>
            <th>CPF:</th>
            <th>Endereço</th>
          </tr>   
        </thead>
        <tbody> 
            <!-- FOREACH -->
             <% clientes.forEach(cliente => { %>
            <tr>
               <td><%= cliente.nome %></td>
               <td><%= cliente.cpf %></td>
               <td><%= cliente.endereco %></td>
            </tr>
           <% }) %>
        </tbody>
    </table>
    <a href="/">Voltar</a>
<%- include ('partials/footer.ejs') %>