<%- include ('partials/navbar.ejs') %>
<h1 class="titulo">Ação</h1>

<p class="text">
  Para quem gosta de adrenalina e batalhas de tirar o fôlego, preparamos uma
  lista com doramas de ação que vão manter você grudado(a) na tela. Confira
  abaixo e escolha sua próxima maratona eletrizante.
</p>

<!-- Formulário de cadastro -->
 <div class="container">
  <div class="card">
    <div class="card-header">
      <h1>Cadastrar dorama</h1>
    </div>
    <div class="card-body">
      <form action="/acao/new" method="post">
        <label>Listagem:</label>
        <input type="text" name="top" placeholder="Insira a listagem do dorama" class="form-control" required>
        <label>Nome do dorama:</label>
        <input type="text" name="nome" placeholder="Insira o nome do dorama" class="form-control" required>
        <label>Onde assistir:</label>
        <input type="text" name="onde" placeholder="Insira onde assistir o dorama" class="form-control mb-4" required>
        <input type="submit" class="btn btn-success" value="Cadastrar">
        <input type="reset" class="btn btn-danger" value="Limpar">
      </form>
    </div>
  </div>
 </div>

<br />
<table class="table table-bordered table-hover text-center w-75 mx-auto">
  <thead class="table-primary">
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Onde assistir</th>
      <th>Editar</th>
      <th>Excluir</th>
    </tr>
  </thead>
  <tbody>
    <!-- FOREACH-->
    <% acao.forEach(acao => { %>
    <tr>
      <td><%= acao.top %></td>
      <td><%= acao.nome %></td>
      <td><%= acao.onde %></td>
      <td>
        <a href="/acao/edit/<%= acao.id %>">
          <button class="btn btn-warning">
            Editar
          </button>
        </a>
      </td>
      <td>
        <a href="/acao/delete/<%= acao.id %>">
          <button onclick="return confirm('Deseja mesmo excluir o dorama <%= acao.nome %>?')" class="btn btn-danger">
            Excluir
          </button>
        </a>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
<br>
<br>
<a href="/" class="text">Voltar a página inicial</a>
<%- include ('partials/footer.ejs') %>
