<%- include ('partials/navbar.ejs') %>
<h1 class="titulo">Thriller</h1>

<p class="text">
  Se mistério e suspense são o que te prende, esta lista é para você. Logo
  abaixo estão os melhores doramas de thriller, repletos de investigações,
  segredos e reviravoltas surpreendentes.
</p>

<!-- Formulário de cadastro -->
<div class="container">
  <div class="card">
    <div class="card-header">
      <h1>Cadastrar dorama</h1>
    </div>
    <div class="card-body">
      <form action="">
        <label>Listagem:</label>
        <input type="text" name="top" placeholder="Insira a listagem do dorama" class="form-control" required>
        <label>Nome do dorama</label>
        <input type="text" name="nome" placeholder="Insira o nome do dorama" class="form-control" required>
        <label>Onde assistir:</label>
        <input type="text" name="onde" placeholder="Insira onde assistir o dorama" class="form-control mb-4 required">
        <input type="submit" class="btn btn-success" value="Cadastrar">
        <input type="reset" class="btn btn-danger" value="Limpar">
      </form>
    </div>
  </div>
</div>

<br />
<table class="table table-bordered table-hover text-center w-75 mx-auto">
  <thead class="table-primary">
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Onde assistir</th>
    </tr>
  </thead>
  <tbody>
    <!-- FOREACH -->
    <% thriller.forEach(thriller => { %>
    <tr>
      <td><%= thriller.top %></td>
      <td><%= thriller.nome %></td>
      <td><%= thriller.onde %></td>
    </tr>
    <% }) %>
  </tbody>
</table>
<br />
<br />
<a href="/" class="text">Voltar a página inicial</a>
<%- include ('partials/footer.ejs') %>
