<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>
    <h1>Página de Produtos</h1>
    <h2>Lista de Produtos:</h2>
    <%#= produtos %>

    <!-- Percorrendo a lista de produtos com ForEach -->
    <ul>
      <% produtos.forEach(produto => { %>
       <li><%= produto.nome %></li>
        <li><%= produto.preco.toLocaleString
            ("pt-br", {style: "currency", currency: "BRL"}) %></li>
        <br>
      <% }) %>
    </ul>

    <br />
    <br />
    <a href="/"><< Voltar</a>
<%- include ('partials/footer.ejs') %>